.toolbox-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 15vw;
    padding: 0.5vh 0.7vw;

    margin-left: 0.5vw;

    border-radius: 0.5vw;

    background-color: white;

    border: antiquewhite 2px solid;
}

.toolbox-container div {
    display: flex;
    align-items: center;
    gap: 0.5vw;

    font-size: 1.3em;
    text-align: left;

    width: 100%;

    padding: 1vh 0;

    transition: background-color 0.3s ease-out;
}

.toolbox-container div:hover {
    background-color: antiquewhite;
}

.toolbox-container div svg {
    font-size: 1.5em;
}
