.color-selector {
    display: inline-block;
    width: 3vw;
    aspect-ratio: 1;

    margin-right: 0.2vw;

    border-radius: 10%;

    border: black 0.2vw solid;

    cursor: pointer;

    transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out;
}

.color-selector:hover, .color-selector.selected {
    transform: translateY(-10px);
}

.edit-icon {
    display: none;
    align-self: end;
}

.edit-icon:hover {
    display: inherit;
}
